.logosList{
    Position: absolute;
    top: 82vh;
    left: 8vw;
}

.logos{
    height: 3vh;
    margin: 1.1vw;
    
}

@media (min-width: 720px) {
    .logosList{
        Position: absolute;
        top: 82vh;
        left: 8vw;
        border: solid 2px;
        border-radius: 45px;
        padding: 0vh 3vw;
    }
    
    .logos{
        height: 3vh;
        margin: 1.1vw;
        
    }
}