h1, h2, h3, h4, h5 {
  margin:0;
}

body{
    background-color: #231c26;

}
.regionListContainer{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e9efdf;
  color: #131313;
  box-shadow: 
   10px -20px 50px rgba(0, 0, 0, 0.5), /* Sombra interna clara en la esquina superior izquierda */
   -15px -10px 70px rgba(0, 0, 255, 0.1); /* Sombra interna clara en la esquina inferior derecha */
}

.regionListHeader{
  height: 14vh;
  padding-left: 10vw;
}

.regionTitle{
  padding-top: 5vh;
  font-size: 1.2rem;
}

.deco{
  font-size: 10px;
  position: absolute;
  top: 6vh;
  right: 10vw;
}

.sloganContainer{
background-color: #9fff39;
width: 60vw;
border-radius: 14px;
border: solid 1px;
border-color: #231c26;
padding: 1vh 1vw;
font-size: 0.7rem;
position: absolute;
top: 72vh;
left: 20vw;
}

.slogan{
  text-align: center;
}

.thinLine{
  position: absolute;
  height: 1px;
  width: 80vw;
  background-color: #231c26;
  top: 90vh;
  left: 10vw;
}



@media (min-width: 768px) {

  .regionListContainer{

  }
    
    .regionListHeader{
    
    }
    

}